body {
  margin: 0;
  text-align: center;
  font-family: 'Eagle Lake', cursive, sans-serif;
  font-size: 20px;
}

h1 {
  margin: 50px auto 30px;
  font-family: 'Sacramento', cursive, sans-serif;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  color: #e97171;
  font-size: 1.875rem;
}

h3 {
  font-size: 20px;
  color: #e97171;
  padding-top: 40px;
  font-size: 20px;
}



p {
  font-size: 20px;
  font-family: 'Arima Madurai', cursive;
}

.top-container {
  background-color: #e8ffff;
  position: relative;
  padding: 50px 50px 200px;
}

.middle-container {
  background-color: #f6f5f5;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #a6f6f1;
  padding:20px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  top: 250px;
}

.top-cloud {
  position: absolute;
  top: 2px;
  right: 150px;
}

.footer-link-yt:hover {
  background-color: #f56a79;
}
.footer-link-yt{
margin-right: 20px;
}

.footer-link-fb:hover {
  background-color: #d2e603;
}

.btn:hover {
  background-color: #79d70f;
}

.skill-row {
  width: 50%;
  margin: auto auto 90px;
  text-align: left;
}

.comp-img {
  width: 30%;
  margin: 20px 30px auto 0;
  float: left;
}

.stars-img {
  width: 30%;
  float: right;
  margin:50px 1px 30px 30px;
}

.sub-heading {
  color: #66BFBF;
}

.mountain {
  width: 50%;
}

.spiderman-img {
  margin-right: 100px;
}
.motorbikes-img{
  float: left;
  width: 35%;
  margin:100px 30px 100px 20px;
}
.btn{
 background: #3D94F6;
 background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 color: #FFFFFF;
 font-family: Open Sans;
 font-size: 25px;
 font-weight: 100;
 padding: 16px;
 -webkit-box-shadow: 1px 1px 20px 0 #000000;
 -moz-box-shadow: 1px 1px 20px 0 #000000;
 box-shadow: 1px 1px 20px 0 #000000;
 text-shadow: 1px 1px 20px #000000;
 border: solid #337FED 1px;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 text-align: center;
}

.btn:hover {
 border: solid #337FED 1px;
 background: #1E62D0;
 background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 text-decoration: none;
}
.last-row{
  padding-bottom: 50px;
}
#logos{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
 background-color: #4162cf;
}
.last-logos:hover{
  height: 20px;
  width: 20px;
}
.last-logos{
  padding-right: 20px;
  height: 30px;
  width: 30px;
  
}
.owner{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: white;
}
.end{
  font-family:serif;
  color: white;
  font-size: 18px;
}
.anchor{
text-decoration: none;
color:rgb(238, 255, 4);
}
.anchor:hover{
color:rgb(208, 211, 32);
text-decoration: underline;
}
